html {
    font: 12pt helvetica;
    line-height: 1em;
    letter-spacing: -.1em;
}
h1 {
    font: 8em helvetica;
    letter-spacing: -.075em;
    line-height: 4em;
}
h2 {
    font: 6em helvetica;
    color: gray;
    letter-spacing: -.06em;
    line-height: 3em;
}
p {
    font: 1em helvetica;
    line-height: 1em;
}
p.fine {
    font: 0.6em helvetica;
    line-height: 1em;
}
.link {
    font-size: 0.6em;
    font-weight: 800;
    color: gray;
    active: black;
    margin-left: 0.6em;
}
.returnlink {
    font-size: 1em;
    font-weight: 800;
    color: gray;
    active: black;
    line-height: 1em;
    margin-left: 1.5em;
}
hr {
    color #c9c9c9;
}
#storyForm {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}
#readContent {
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 2em;
}
.controlPanel {
    font-size: 3em;
}
select {
    width: 16em;
    font-size: 3em;
    margin-bottom: 1em;
}
.inputArea {
    font: 3em helvetica;
    padding: .5em;
    margin-bottom: 1em;
}
.inputField {
    font: 3em helvetica;
    padding: .5em;
    margin-bottom: 1em;
}
.control {
    font: 3em helvetica;
    border: .1em solid rgb(128,128,128);
    border-radius: 2em;
    height: 2.6em;
    vertical-align: middle;
    background: #ffffff;
}
div.share {
    margin-top: 3em;
    margin-left: 2em;
    margin-bottom: 2em;
}
img.share {
    margin-top: .6em;
    vertical-align: middle;
    margin-right: 1em;
}
button.share {
    font: 3em helvetica;
    border: .1em solid rgb(128,128,128);
    border-radius: 2em;
    width: 15em;
    height: 2.4em;
    vertical-align: middle;
    background: #ffffff;
}
div#messages {
    margin-left: 2em;
    margin-right: 2em;
}
div.messagebrief {
    font: 3em helvetica;
    margin-top: 0.5em;
}
span.headbrief {
    font-weight:800;
    color: #888888;
    overflow: hidden;
}
span.typebrief {
    font-size: 0.6em;
    font-weight: 800;
    color: lightgray;
    margin-left: 0.6em;
}
span.bodybrief {
    font-size: 1em;
    font-weight: 100;
    color: gray;
    overflow: hidden;
    text-overflow: ellipses;
}
div.messagebrief {
    font: 3em helvetica;
    margin-top: 1em;
}
div.head {
    font: 2em helvetica;
    font-weight:800;
    color: #888888;
}
div.body {
    font: 1.5em helvetica;
    margin-top: 1em;
}
div.type {
    font-size: 1.5em;
    font-weight: 800;
    color: lightgray;
}
.typeselector select {
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 4em .5em;
    width: 14em;
    text-indent: 1em;
    text-overflow: "";
}
.inputprompt {
    position: absolute;
    font-size: 3em;
    font-style: italic;
    font-weight: 200;
    color: #aaa;
    margin: 1em 0 0 1em;
}
